.chosen__product--container {
  display: flex;
  flex-direction: column;
  &-title {
    text-align: center;
  }
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
  }
}
