*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo__item{ 
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}